numpy
pandas
scikit-learn
imbalanced-learn==0.13.0
matplotlib
seaborn
scipy
tensorflow==2.19.0
keras==3.11.1
tensorboard==2.19.0
protobuf==5.29.5

jupyter
ipykernel
ipython
jupyter-client
jupyter-core